name: build-and-deploy.yml
on:
  push:
    branches: [ "*", "main", "dev" ]
  pull_request:
    branches: [ "*", "main", "dev" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.26'

      - name: Build
        run: go build -o invoice-gen ./cmd/main.go

      - name: Test
        run: go test -v ./...